:root{
  --neon:rgb(139, 31, 211); 
  --offw: rgb(216, 216, 216);
  --secneon:rgb(78 17 118);
}
body {
  margin: 3rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--neon);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
